@import url(https://fonts.googleapis.com/css?family=Orbitron|Inconsolata|Exo);

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #566273;
  font-size: 20px;
}

header {
  margin: 0 auto;
  padding: 20px;
}

nav {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: white;
  background-color: #a64037;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 10px;
  padding: 5px;
}


section {
  background-color: #592a49;
  color: white;
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 6px solid white
  }

img {
  display: block;
  margin: auto;
  border-radius: 120px;
  border: 10px solid #d9a648;
}

img:hover {
  animation: shake .5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

h1 {
  display: block;
  margin: auto;
  font-size: 30px;
  text-align: center;
  background-color: #566273;
  color: white;
  width: 350px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px auto;
  font-family: 'Exo', sans-serif;
}

header h1 {
  font-size: 60px;
  background-color: #592a49;
  width: 800px;
  border-radius: 30px;
  border: 6px solid white;
  font-family: 'Orbitron', sans-serif;
  padding: 20px;
  color: #ddb05d;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #a64037;
}
header h1:hover{
  color: #a64037;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

p {
  color: #d9a648;
  text-align: center;
}

ul {
  color: #d9a648;
  font-size: 28px;
  text-align: center;
}

li {
  color: white;
  font-size: 20px;
  list-style-type: none;
}

form {
  color: white;
  margin: 0 auto;
  font-size: 14px;
}
input {
  margin: 3px;
  opacity: .9;
}
legend {
  font-size: 18px;
  color: #d9a648;
  padding-top: 5px;
  width: 700px;
  padding-left: 3px;
  border-bottom: 1px dotted grey;
  border-left: 1px dotted grey;
}
fieldset{
  border: none;
}

table {
  border: 4px solid white;
  border-collapse: collapse;
  color: white;
  margin: 0 auto;
}

td, tr, th {
  border: 2px solid white;
  background-color: #566273;
  color: #d9a648;
  padding: 3px;
}

th {
  color: white;
}

button {
  color: white;
  background-color: #a64037;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 10px;
  padding: 5px;
  display: block;
  margin: auto;
}

button:hover {
  background-color: #d9a648;
  transform: scale(1.2);
}

a:hover{
  background-color: #d9a648;
}

fieldset {
  border-radius: 10px;
  width: 650px;
  margin: 0 auto;
}

#pizzasThisWeek {
  font-size: 20px;
  text-align: center;
}
